.container{
   
}
.title{
    margin: 50px 0px;

}
.categories
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

}
.category{
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    height: 70px;
    width: 15%;
    gap: 12px;
    font-weight:700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image{
    border-radius: 49%;
}
.category.style{
    background-color: pink;
    
}
.category.fashion{
    background-color: rgb(192, 200, 255);
}
.category.food{
    background-color: rgb(138, 207, 140);
}
.category.travel{
    background-color: rgb(215, 130, 27);
}
.category.culture{
    background-color: rgb(6, 218, 246);
}